psycopg2-binary
psycopg[binary]
fastapi
uvicorn
beautifulsoup4
python-dotenv
langchain
langchain-core
langchain-community
langchain-openai
langgraph
pydantic>=2.0
PyJWT==2.8.0
langgraph-checkpoint-postgres
psutil

